name: CI

env:
  PROJECT_NAME: fracdiff

on:
  push:
    branches:
      - main
      - develop
      - release/*
  pull_request:
    branches:
      - main
      - develop
      - release/*
  workflow_dispatch:

jobs:

  test:

    name: Test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install .
        python3 -m pip install pytest pytest-cov codecov

    - name: Run doctest
      run: python3 -m pytest --doctest-modules ${PROJECT_NAME}
      if: always()

    - name: Run pytest
      run: python3 -m pytest --cov=${PROJECT_NAME} tests
      if: always()

    - name: Upload codecov report
      uses: codecov/codecov-action@v1
      if: ${{ matrix.python-version == '3.9' }}

  lint:

    name: Lint

    runs-on: ubuntu-latest
    
    outputs:
      status: ${{ job.status }}

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2

    - name: Lint (black)
      uses: psf/black@stable

    - name: Lint (isort)
      uses: jamescurtin/isort-action@master
      with:
        configuration: --check-only --diff --force-single-line
  
  format:
  
    name: Format
    
    runs-on: ubuntu-latest
    
    needs: lint
    
    if: always() && needs.lint.outputs.status == 'failure'
    
    steps:
    
    - uses: actions/checkout@v2
    
    - uses: actions/setup-python@v2
    
    - name: Format (black)
      run: python -m pip install black && black .

    - name: Format (isort)
      uses: jamescurtin/isort-action@master
      with:
        configuration: --force-single-line
    
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        author: GitHub Actions <action@github.com>
        commit-message: format
        delete-branch: true
        branch-suffix: short-commit-hash
        title: Automated Format
